In [55]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [56]:
weather_df = pd.read_csv('weather.csv')
weather_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,ushuaia,-54.8000,-68.3000,85.15,58,40,1.03,AR,1616163674
1,asfi,32.2994,-9.2372,90.75,62,0,8.02,MA,1616163674
2,flinders,-34.5833,150.8552,94.26,91,100,1.79,AU,1616163675
3,geraldton,-28.7667,114.6000,97.15,57,0,4.63,AU,1616163675
4,sioux lookout,50.1001,-91.9170,73.15,51,20,3.09,CA,1616163676
...,...,...,...,...,...,...,...,...,...
570,murray bridge,-35.1167,139.2667,92.04,82,0,0.97,AU,1616163956
571,taltal,-25.4000,-70.4833,93.12,71,83,1.84,CL,1616163957
572,kosh-agach,50.0000,88.6667,55.81,71,0,1.70,RU,1616163957
573,vardo,70.3705,31.1107,67.15,93,90,15.95,NO,1616163958
574,tadine,-21.5500,167.8833,97.23,82,100,7.88,NC,1616163958

In [57]:
gmaps.configure(g_key)

In [58]:
locations = weather_df[["Lat", "Lng"]]
humidity = weather_df["Humidity"].astype(float)

In [59]:
heatfig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=humidity.max(),
                                 point_radius = 3)

heatfig.add_layer(heat_layer)

heatfig

Figure(layout=FigureLayout(height='420px'))

In [60]:
hotel_df = weather_df
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,ushuaia,-54.8000,-68.3000,85.15,58,40,1.03,AR,1616163674
1,asfi,32.2994,-9.2372,90.75,62,0,8.02,MA,1616163674
2,flinders,-34.5833,150.8552,94.26,91,100,1.79,AU,1616163675
3,geraldton,-28.7667,114.6000,97.15,57,0,4.63,AU,1616163675
4,sioux lookout,50.1001,-91.9170,73.15,51,20,3.09,CA,1616163676
...,...,...,...,...,...,...,...,...,...
570,murray bridge,-35.1167,139.2667,92.04,82,0,0.97,AU,1616163956
571,taltal,-25.4000,-70.4833,93.12,71,83,1.84,CL,1616163957
572,kosh-agach,50.0000,88.6667,55.81,71,0,1.70,RU,1616163957
573,vardo,70.3705,31.1107,67.15,93,90,15.95,NO,1616163958
574,tadine,-21.5500,167.8833,97.23,82,100,7.88,NC,1616163958

In [48]:
hotel_df

City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date            int64
dtype: object

In [65]:
lessthan80_df = hotel_df.loc[hotel_df["Max Temp"] <= 80]
lessthan80_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
4,sioux lookout,50.1001,-91.9170,73.15,51,20,3.09,CA,1616163676
8,tilichiki,60.4667,166.1000,52.59,95,100,4.41,RU,1616163678
11,albany,42.6001,-73.9662,70.37,33,1,1.79,US,1616163511
13,marshfield,44.6689,-90.1718,74.26,51,1,3.09,US,1616163680
16,meadow lake,34.8014,-106.5436,79.82,48,1,3.09,US,1616163682
...,...,...,...,...,...,...,...,...,...
540,vytegra,61.0064,36.4481,67.35,93,99,3.11,RU,1616163943
550,qinggang,46.6833,126.0833,73.74,57,100,2.73,CN,1616163948
554,birobidzhan,48.8000,132.9500,70.42,84,1,0.77,RU,1616163949
572,kosh-agach,50.0000,88.6667,55.81,71,0,1.70,RU,1616163957
573,vardo,70.3705,31.1107,67.15,93,90,15.95,NO,1616163958

In [67]:
higherthan70_df = lessthan80_df.loc[lessthan80_df["Max Temp"] >= 70]
higherthan70_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
4,sioux lookout,50.1001,-91.9170,73.15,51,20,3.09,CA,1616163676
11,albany,42.6001,-73.9662,70.37,33,1,1.79,US,1616163511
13,marshfield,44.6689,-90.1718,74.26,51,1,3.09,US,1616163680
16,meadow lake,34.8014,-106.5436,79.82,48,1,3.09,US,1616163682
18,bethel,41.3712,-73.4140,72.15,37,1,5.66,US,1616163682
...,...,...,...,...,...,...,...,...,...
523,kerrobert,51.9168,-109.1348,75.15,75,40,5.14,CA,1616163934
531,lac du bonnet,50.2536,-96.0612,75.93,99,15,3.13,CA,1616163939
538,ryotsu,38.0833,138.4333,79.37,66,0,5.30,JP,1616163942
550,qinggang,46.6833,126.0833,73.74,57,100,2.73,CN,1616163948
554,birobidzhan,48.8000,132.9500,70.42,84,1,0.77,RU,1616163949

In [69]:
lessthan10mph_df = higherthan70_df.loc[higherthan70_df["Wind Speed"] < 10]
lessthan10mph_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
4,sioux lookout,50.1001,-91.9170,73.15,51,20,3.09,CA,1616163676
11,albany,42.6001,-73.9662,70.37,33,1,1.79,US,1616163511
13,marshfield,44.6689,-90.1718,74.26,51,1,3.09,US,1616163680
16,meadow lake,34.8014,-106.5436,79.82,48,1,3.09,US,1616163682
18,bethel,41.3712,-73.4140,72.15,37,1,5.66,US,1616163682
...,...,...,...,...,...,...,...,...,...
523,kerrobert,51.9168,-109.1348,75.15,75,40,5.14,CA,1616163934
531,lac du bonnet,50.2536,-96.0612,75.93,99,15,3.13,CA,1616163939
538,ryotsu,38.0833,138.4333,79.37,66,0,5.30,JP,1616163942
550,qinggang,46.6833,126.0833,73.74,57,100,2.73,CN,1616163948
554,birobidzhan,48.8000,132.9500,70.42,84,1,0.77,RU,1616163949

In [70]:
zeroclouds_df = lessthan10mph_df.loc[lessthan10mph_df["Cloudiness"]== 0]
zeroclouds_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
35,ylojarvi,61.5563,23.5961,70.93,39,0,2.57,FI,1616163691
62,goderich,43.7501,-81.7165,71.15,43,0,5.66,CA,1616163703
117,megion,61.0296,76.1136,72.15,51,0,3.00,RU,1616163731
141,hami,42.8000,93.4500,74.92,27,0,1.18,CN,1616163743
151,elko,41.0002,-115.5012,79.26,50,0,2.24,US,1616163748
160,korla,41.7597,86.1469,77.19,69,0,0.72,CN,1616163616
177,esterhazy,50.6500,-102.0843,72.15,86,0,3.09,CA,1616163760
183,yashkino,55.8736,85.4265,70.15,68,0,7.00,RU,1616163763
330,urumqi,43.8010,87.6005,72.15,74,0,2.00,CN,1616163605
358,shebunino,46.4339,141.8603,70.15,74,0,4.64,RU,1616163850
403,parainen,60.3067,22.3010,71.48,34,0,2.57,FI,1616163873
450,fort-shevchenko,44.5086,50.2630,78.34,81,0,5.59,KZ,1616163896
474,orebro,59.2741,15.2066,77.15,24,0,2.57,SE,1616163908
515,nemuro,43.3236,145.5750,71.27,77,0,6.53,JP,1616163930
538,ryotsu,38.0833,138.4333,79.37,66,0,5.30,JP,1616163942